.arc{
	stroke:black;
	cursor:pointer;
	&:hover{
		path{
			fill:$gray-light !important;			
		}

	}
}
.pie-legend{
	margin-bottom:10px;
	width:120px;
    @include media-breakpoint-down(xs){
		width:100%;
    }	
	
	.legend-item{
		margin-bottom: 5px;
		.pie-legend-box{
			width:10px;
			height:10px;
			margin-right:5px;
			margin-top: 3px;
		}
		.pie-legend-text{
			line-height: 1;
			font-size:$font-size-sm;
		}
	}
}
.pie-chart{
	width:calc(100% - 120px);
    @include media-breakpoint-down(xs){
		width:100%;
    }	
	
}
.arcLabels{
	font-size:$font-size-xs;
	text-anchor:middle;
	&.hidden{
		display:none;
	}
}